.leaflet-sidebar .close {
  z-index: 800 !important;
}

#recflag-map {
  width: 100%;
  height: 600px;
}

h2.recflag-card-title {
  font-size: 1.8em;
  margin-top: 6px;
}

h3.recflag-card-subtitle {
  font-size: 1.1em;
  margin-top: -2px;
  margin-bottom: 0;
  color: rgba(0,0,0,.6);
}

.recflag-card-status {
  /*border: 1px solid black;*/
  margin-top: -38px;
  margin-bottom: 20px;
  padding: 4px;
}

.recflag-card-status > div {
  margin-top: 4px;
  margin-bottom: 4px;
  line-height: 1.2em;
  height: 100%;
}
.recflag-card-status-title {
  font-size: larger;
  font-weight: bold;
  color: black;
}
.recflag-card-status-reason {
  font-weight: bold;
}

.recflag-status-description {
  /*font-weight: bold;*/
}

.recflag-status-description > span {
  font-size: 1.6em;
  padding: 6px;
  line-height: 1.1em;
}

.recflag-info-status-title {
  font-size: 1.5em;
  margin: auto;
  padding: 10px;
}

.recflag-info-status-description {
  margin-top: 0px;
}

/*colors: https://www.materialpalette.com*/
.recflag-status-good {
  background-color: #88C452 !important;  /*light green*/
  /*background-color: #CBDD49;*/  /*lime green*/
}
.recflag-status-advisory {
  background-color: #F63F3C !important; /*red*/
  /*background-color: #FF542E;*/ /*deep orange*/
}
.recflag-status-uncertain {
  /*background-color: #FE9725;*/ /*amber*/
  background-color: #FEC12E !important; /*orange*/
  /*background-color: #FEEC4E;*/ /*yellow*/
}
.recflag-status-unknown {
  background-color: #B2B2B2 !important; /*magnesium*/
}

/*pure table*/
.pure-table thead {
  text-align: center !important;
}